{% extends "base.html" %}

{% block page %}The Meme Stream&trade;: The easiest place to find new epic memes!{% endblock %}
{% block description %}Scroll through the meme stream to find the perfect epic meme for any situation. Completely free!{% endblock %}

{% block content %}

<h1>The Meme Stream&trade;</h1>
<p>All memes uploaded to the site, ordered newest to oldest.</p>

<div class="row">
    {% for imageObj in imageObjList %}
        {% include "imagesharing/image-inline.html" with imageObj=imageObj %}
    {% endfor %}
</div>

{% endblock %}